*{
  background-color: #000;
}
.block{
  /* border: 2px solid black; */
  height: 100px;
  width: 100px;
  margin: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
  background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  
}
.Board{
  /* display: flex; */
  /* margin: 100px 572px 0; */
  position: absolute;
  left: 39%;
  /* background: #555; */
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
}
h1{
  color: #fff;
  text-align: center;
}
.row{
  display: flex;
}